.external-link {
  text-decoration: underline;
  color: rgb(101, 217, 84);
}

.internal-link {
  color: inherit;
  font-size: 1.5rem;
  text-decoration: underline;

  margin: 0.2rem;
  display: block;
}
.internal-link::before {
  content: '\000A0\0202F';

  display: inline-block;
}
.internal-link:hover::before {
  content: '>\0202F';
}
