#landing-main {
  /* The parent should be display: flex; we want to fill up the whole screen */
  flex: 1;

  padding: 0.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  text-align: center;
}
